

article{
    width: 1200px;
    margin: auto;
    text-align: left;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.block_ {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #1d1d1d;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #21791d;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: #1d1d1d;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    color: black;
    display: block;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: block;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    display: block;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: table-row;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    display: table-row;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_8 {
    display: table-row;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    color: #1d1d1d;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_10 {
    color: black;
    display: table-row;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    display: block;
    line-height: 1.64;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.bullet_ {
    color: #333;
    display: table-cell;
    font-weight: bold;
    text-decoration: none
    }
.calibre {
    color: #333;
    display: block;
    font-family: "Arial", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 36pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    display: table-cell
    }
.calibre5 {
    display: block
    }
.calibre6 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #333
    }
.text_1 {
    color: #15c;
    text-decoration: none
    }
.text_2 {
    color: #333;
    font-weight: bold
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

